.dropdown {
    position: relative;
    border-radius: 1px;
    max-width: 300px;
}
.dropdown__arrow--active{
    transform: rotate(180deg);
}
.dropdown__list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--champagne);
    transition: max-height 0.6s ease-out;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.dropdown__list--active {
    max-height: 1000px;
    opacity: 1;
    min-width: 130px;
}
.dropdown__list-item {
    border-bottom: 1px solid var(--champagne);
    cursor: pointer;
    list-style: none;
    padding: 16px;
}
.dropdown__list-item--active {
    background: var(--champagne);
}
.dropdown__list-item:hover {
    background: #fff;
}

.dropdown__title{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.spanj35ru
{
    line-height: 22px;
}