
.Header{
  width: 100%;
}

.header,
.header-1 {
  align-items: center;
  justify-content: center;
  background-color: var(--sunset-pearl);
  display: flex;
  width: 100%;
  padding: 16px;
}

.nav-bar,
.nav-bar-1 {
  -webkit-backdrop-filter: blur(44px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(44px) brightness(100%);
  background-color: var(--champagne);
  box-shadow: 0px 4px 4px transparent;
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.frame-173,
.frame-173-1 {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.menu-4,
.menu-5 {
  align-items: center;
  display: flex;
  height: 64px;
  padding: 0 12px;
}

.menu-6:hover,
.menu-4:hover,
.menu-5:hover {
  cursor: pointer;
}

.karaokepage.menu-4{
  background-color: var(--fire-bush);
}

.gamespage.menu-6{
  background-color: var(--fire-bush);
}

.games-5,
.games-6 {
  height: 32px;
  letter-spacing: 0;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {

  .nav-bar,
  .nav-bar-1 {
    padding: 0 16px;
  }
}