.Admin{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7c4c4;
}

.Admin-table{
    padding: 20px;
}

.MuiButton-label{
    font-family: JosefinSans;
}
