.about-2 {
  background-color: var(--midnight-2);
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.about-3 {
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(15px) brightness(100%);
  background-color: var(--sunset-pearl);
  border-radius: 6px;
  display: flex;
  width: 100%;
  height: 100%;
}

.graphics-28 {
  height: 100%;
  width: 50%;
  background-size: 100% 100%;
  object-fit: cover;
}

.frame-243 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 72.5px 16px;
  position: relative;
  width: 50%;
  height: 100%;
}

.frame-245 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.i-jumped-off-as-hot {
  line-height: 20px;
  display: flex;
  align-items: flex-end;
}

.lyrics-19 {
  letter-spacing: 0;
  min-width: 290px;
  margin-top: 16px;
}

.i-jumped-off-as-hot-title
{
  font-weight: bold;
}

.i-jumped-off-as-hot-content
{
  margin-left: 16px;
  font-weight: 400;
  padding: 8px;
  white-space: pre-wrap;
}

.lightfont.poppins-medium-martinique-20px,
.lightfont.poppins-normal-martinique-20px{
  color: var(--concord-2);
  font-size: var(--font-size-xxs);
}

@media only screen and (max-width: 600px) {
  .about-3 {
    flex-direction: column;
  }

  .graphics-28{
    width: 100%;
    height: 50%;
  }

  .frame-243{
    width: 100%;
    padding: 24px 16px;
    justify-content: flex-start;
  }

  .i-jumped-off-as-hot-content
  {
    overflow-y: auto;
    max-height: 120px;
    height: 500px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    flex-grow: 1;
    max-width: 270px;
    min-width: 95%;
  }

  .i-jumped-off-as-hot {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
