.SongList{
    width: 100%;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.25s ease-in;


    &.SongList-expandResults{
        display: flex;
        width: 100%;
        max-height: 500px;
        transition: max-height 0.25s ease-in;
        padding: 10px 0;
        /* min-height: 500px; */
    }

    &-container{
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        min-height: 500px;
        width: 100%;
    }

    &-emptySearch{
        margin: auto;
        overflow-y: hidden;
        padding: 5px;
        background-color: #f4f5d7;
        border-radius: 5px;
    }

    @media only screen and (max-width: 600px) {
        &-container{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}
