.trending-11 {
  align-items: center;
  background-color: var(--sea-serpent);
  border-radius: 6px;
  display: flex;
  overflow: hidden;
  padding: 16px 32px;
  margin-top: 32px;
}

.trending-11:hover {
  cursor: pointer;
  background-color: var(--java);
  transition: background-color 1s ease;
}

.begin-round {
  letter-spacing: 0;
  white-space: nowrap;
}
